<tbody class="relationships">
<tr><th colspan="2">Relationships</th></tr>
{{#each this.relationships.entrySet}}

{{#if value.included}}
<tr><td>{{key}}</td><td>
    {{#optional value.resourceObjectIdentifier}}
    <a href="#{{id}}_{{type}}">{{id}}</a>
    {{/optional}}

    {{#optional value.resourceObjectIdentifiers}}
    <ol>
    {{#each resources}}
    <li><a href="#{{id}}_{{type}}">{{id}}</a></li>
    {{/each}}
    </ol>
    {{/optional}}
</td></tr>
{{^}}
{{#each value.links.links}}
<tr><td>{{key}}</td><td> <a href="{{{href}}}">{{{href}}}</a> </td></tr>
{{/each}}
{{/if}}
{{/each}}
</tbody>
