<table class="resource" id="{{id}}-{{type}}">

    <thead>
    <tr>
        <th colspan="2"><span class="resource_type">{{type}}</span>:<span class="resource_id">{{id}}</span></th>
    </tr>
    </thead>

    {{#with this.links}}
        {{#unless links.isEmpty}}
            {{> "jsonapi/partial/links"}}
        {{/unless}}
    {{/with}}

    {{#with (lookup schema.links.links type)}}
        {{#optional submissionSchema}}
            {{#with ..}}
                {{> "jsonapi/partial/post"}}
            {{/with}}
        {{^}}
            {{#optional targetSchema}}
                {{#with ..}}
                    {{> "jsonapi/partial/patch"}}
                {{/with}}
            {{^}}
                {{#with ..}}
                    {{> "jsonapi/partial/attributes"}}
                {{/with}}
            {{/optional}}
        {{/optional}}
    {{^}}
        {{> "jsonapi/partial/attributes"}}
    {{/with}}
</table>
