<html>
<head>
    <style>
        table
        {
            border:2px solid;
        }

        td
        {
            border: 1px solid gray;
        }
    </style>
</head>
<body>

<table class="resourcedocument">
{{#with errors}}
{{> "jsonapi/partial/errors"}}
{{/with}}

{{#with links}}
    {{#unless links.isEmpty}}
        {{> "jsonapi/partial/links"}}
    {{/unless}}
{{/with}}

{{#with resources}}
    {{#each this}}
    <tr><td colspan="2">{{> "jsonapi/partial/resourceobject"}}</td></tr>
    {{/each}}
{{/with}}

{{#with resource}}
    {{#if this}}
        <tr><td colspan="2">{{> "jsonapi/partial/resourceobject"}}</td></tr>
    {{/if}}
{{/with}}
</table>


</body>
</html>
