<html>
<head>
    <style>
        table
        {
            border:2px solid;
        }

        td
        {
            border: 1px solid gray;
        }
    </style>
</head>
<body>

<table class="resourcedocument">
{{#with errors}}
{{> "jsonapi/partial/errors"}}
{{/with}}

{{#with links}}
    {{#unless isEmpty}}
        {{> "jsonapi/partial/links"}}
    {{/unless}}
{{/with}}

{{#if collection}}
    {{#with resources}}
        <tr><th colspan="2">Resources</th></tr>
        {{#each this}}
        <tr><td colspan="2">{{> "jsonapi/partial/resourceobject"}}</td></tr>
        {{/each}}
    {{/with}}
{{^}}
    {{#with resource}}
        {{#if this}}
            <tr><th colspan="2">Resource</th></tr>
            <tr><td colspan="2">{{> "jsonapi/partial/resourceobject"}}</td></tr>
        {{/if}}
    {{/with}}
{{/if}}

{{#with included.included}}
    <tr><th colspan="2">Included</th></tr>

    {{#each this}}
    <tr><td colspan="2">{{> "jsonapi/partial/resourceobject"}}</td></tr>
    {{/each}}
{{/with}}
</table>


</body>
</html>
