<tbody class="links">
<tr><th colspan="2">Links</th></tr>
{{#each this.links}}

{{#if template}}
 <tr><td>{{rel}}</td><td>
    <code>{{{href}}}</code><br/>
    <form action="/api/handlebars/uritemplate" method="get" name="{{rel}}">
        <input type="hidden" name="uritemplate" value="{{{href}}}"/>
        <table>

            {{#with (lookup schema.links.links rel)}}
            {{#optional hrefSchema}}
            {{#parameters ../../..}}
            <tr>
                <td><code>{{.}}</code></td>
                <td><input type="text" name="{{.}}"/></td>

                {{#with (lookup ../properties.properties .)}}
                <td>{{optional title}} ({{optional description}})</td>
                {{/with}}
            </tr>
            {{/parameters}}
            {{^}}
            {{#parameters ../..}}
            <tr>
                <td><code>{{.}}</code></td>
                <td colspan="2"><input type="text" name="{{.}}"/></td>
            </tr>
            {{/parameters}}
            {{/optional}}
            {{/with}}
            <tr>
                <td colspan="3"><input type="submit" value="GET"/></td>
            </tr>
        </table>
    </form>
</td></tr>

{{^}}
{{#if websocket}}
<tr><td>{{rel}}</td><td>
    <code>{{{href}}}</code><br/>

        <table>
            <thead><tr><th>Parameters</th></tr></thead>
            {{#with (lookup schema.links.links rel)}}
            {{#optional submissionSchema}}
            {{#each properties.properties}}
            <tr>
                <td><code>{{@key}}</code></td>
                <td>{{optional title}} ({{optional description}})</td>
            </tr>
            {{/each}}
            {{/optional}}
            {{/with}}
        </table>
</td></tr>

{{^}}
<tr><td>{{rel}}</td><td> <a href="{{{href}}}">{{{href}}}</a> </td></tr>
{{/if}}
{{/if}}
{{/each}}
</tbody>
